.registerPage {
    width: 100%;
    height: calc(100vh);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: rgb(248,248,248);
}

.signInAdvice-container {
    display: flex;
    flex-direction: column;
    background-color: rgb(241,249,255);
    padding: 1rem 2rem;
    width: 35rem;
    height: 27.5rem;
    overflow-y: scroll;
}

.signInAdvice-container > img {
    object-fit: contain;
    width: auto;
    height: 13rem;
    margin-bottom: 1rem;
}

.signInAdvice-container > p {
    text-align: center;
    font-size: 0.95rem;
    line-height: 1.5rem;
    color: #474445;
    margin-bottom: 0.5rem;
    font-weight: 300;
}

.signInAdvice-container > p > a {
    text-decoration: none;
    color: rgb(70,139,252);
}

.signInAdvice-container > p > a:hover {
    text-decoration: underline;
}

.loginForm-container {
    min-width: 24rem;
    min-height: max-content;
    border-radius: 1rem;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.loginForm-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.loginForm-header > a {
    height: max-content;
}

.loginForm-header > a > #finnLogo {
    object-fit: contain;
    width: auto;
    height: 1.2rem;
}

.loginForm-header > a > #schibstedLogo {
    object-fit: contain;
    width: auto;
    height: 1.5rem;
}

.loginForm-body {
    display: flex;
    flex-direction: column;
}

.loginForm-body > h1 {
    font-size: 1.5rem;
    margin-bottom: 0.25rem;
}

.loginForm-body label {
    font-weight: 500;
    font-size: 1.05rem;
    color: rgba(0, 0, 0, 0.54);
}

.MuiInputBase-root {
    background-color: rgb(232,232,232);
}

.loginForm-body  p {
    color: rgba(0, 0, 0, 0.4);
    font-size: 0.75rem;
    font-weight: 500;
    margin: 0.25rem 0;
}

.loginForm-body > a {
    font-size: 0.9rem;
    font-weight: 500;
    color: rgb(70,139,252);
    margin-bottom: 1rem;
    line-height: 1.1;
}

.checkbox-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.checkbox-container span {
    font-size: 0.9rem;
    font-weight: 500;
}

@media (max-width: 600px) {
    .loginForm-container {
        height: 100%;
        width: 100%;
        border-radius: 0;
        outline: solid red;
    }

    .loginForm-header {
        border-bottom: 1px solid rgba(0,0,0,.3);
        margin: 0.75rem 0 2rem 0;
        padding: 0 1rem 0.25rem 1rem;
    }

    .loginForm-header > a > #schibstedLogo {
        height: 1.3rem;
    }

    .loginForm-body {
        margin: 0 1.5rem;
    }
}